/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e0e0d3;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #000;
}

.books-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  max-width: 100%;
  flex-wrap: wrap; /* Asegura que los elementos se ajusten cuando se llega al borde */
}

.books-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
  width: 100%;
}

.books-container::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit */
}

.books-container {
  scrollbar-width: none; /* Para Firefox */
}

.libro {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  flex: 0 0 auto;
  width: 150px; /* Ancho inicial para escritorio */
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Efecto hover para las tarjetas */
.libro:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.libro img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
  max-height: 150px;
  object-fit: cover;
}

.libro h3 {
  font-size: 0.9rem;
  margin: 0 0 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #333;
}

.libro p {
  font-size: 0.8rem;
  color: #666;
  margin: 0 0 8px 0;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Media Query para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .libro {
    width: 100%; /* Los libros ocupan el 100% del ancho en pantallas pequeñas */
    margin: 10px 0; /* Reducir márgenes para un mejor ajuste */
    box-shadow: none; /* Eliminar sombra para una versión más ligera */
  }

  .libro img {
    max-height: 120px; /* Reducir el tamaño de la imagen */
  }

  .books-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los libros se acomoden en varias filas */
    justify-content: space-evenly; /* Los elementos se distribuyen uniformemente */
  }

  .libro h3 {
    font-size: 1rem; /* Ajustar el tamaño del título */
  }

  .libro p {
    font-size: 0.75rem; /* Reducir el tamaño de la descripción */
  }
  
  /* Ajustes a la sección de los botones de scroll */
  .scroll-btn {
    font-size: 2rem; /* Reducir el tamaño de los botones de scroll */
    padding: 5px;
  }

  /* Modal ajustes para pantallas pequeñas */
  .modal-content {
    width: 90%;
    max-width: 400px; /* Ajustar tamaño del modal */
    max-height: 80%;
    overflow-y: auto;
  }
  
  /* Reseñas en vista móvil */
  .reseña {
    padding: 10px; /* Menos espacio en las reseñas */
    font-size: 0.9rem; /* Ajustar el tamaño de la fuente */
  }

  /* Ajustar los enlaces de reseñas */
  .review-links {
    gap: 20px;
  }
}
